$dark-grey: #333;
$blue: #1c88bf;
$dark-blue: #364501;
$turquoise: #00dbff;
$teal: #20b2aa;
$deep-pink: #e31c79;
$light-blue: #89d2ff;
$mid-blue: #6897bb;
$off-white: #f7f7f7;

$default-font-size: 1.6rem;
$font-size-large: 2.4rem;
$font-size-medium: 2rem;
$font-size-v-large: 3.2rem;
$font-size-small: 1.4rem;

$small-margin: 1.2rem;
$medium-margin: 2.4rem;
$large-margin: 3.6rem;
$x-large-margin: 4.8rem;

$desktop-breakpoint: 45rem;

$small-border-radius: 0.2rem;
$medium-border-radius: 0.4rem;
$large-border-radius: 0.6rem;
